---
layout: default
title: DPPL Content
---

<div id="home">
    <h2>By author</h2>
  {% for author in site.authors %}
    <h3>{{ author }}</h3>
    <ul>
    {% for post in site.categories[author] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
<hr />
    <h2>By Section</h2>
  {% for section in site.sections %}
  <h3>{{ section }}</h3>
  <ul>
    {% for post in site.categories[section] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>