---
layout: default
title: DPPL Content
---

<div id="home">
  <div id="site-index">
    <h2 class="by-header">By author</h2>
    <div class="post-section">
    {% for author in site.authors %}
        <h3 class="posts-header">{{ author }}</h3>
        <ul class="posts">
        {% for post in site.categories[author] %}
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
    </div>
  </div>
  <div id="site-updates">
    <h4>Recent updates</h4>
    <ul id="updates" class="updates"></ul>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  $(document).ready(function(){
      $.getJSON('http://dppl.org/tools/feedtojson.php?jsoncallback=?', {url: 'https://github.com/dpplweb/dppl-content/commits/gh-pages.atom'}, function(data){
        console.log(data);
        $.each(data.entry, function(i){
          if (i < 10){
            var link = data.entry[i].link["@attributes"];
            //console.log(link);
            var li = $('<li>');
            li.append(data.entry[i].title + '<span class="update-time">' + data.entry[i].updated + '</span>');
            $('#updates').append(li);
          }
        });
      });

  })
</script>